*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: whitesmoke;
}

#logo_img {
    height: 15vh;
    margin-left: 29vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
}

#background_image {
    background-image: url(../img/background_image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    background-color: black;
    position: absolute;
    top: -85vh;
    right: 0px;
    width: 155px;
    align-items: center;
    list-style: none;
    transition: ease 0.3s;
}

#nav-links a{
    text-decoration: none;
    color: white;
    font-size: 1.55rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
}

.nav-active{
    transform: translateY(100vh)
}

#nav-links a:hover{
    font-weight: bold;
    transition: ease 0.2s;
}

.current_html {
    text-decoration: underline;
}

.burger_line{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.burger_line #line_2{
    opacity: 0;
}

.burger_line #line_1{
    transform: rotate(-45deg) translate(-5px, 6px)
}

.burger_line #line_3{
    transform: rotate(45deg) translate(-5px, -6px)
}

#burger {
    margin-right: 60px;
    cursor: pointer;
}

.content_wrapper {
    height: 85vh;
    position: absolute;
    top: 15vh;
    width: 100%;
    z-index: -1;
}

.welcome_text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 1px 1px black;
    color: white;
}

.index_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 0.85rem;
    background-color: white;
    width: 85vw;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    text-align: center;
}

.index_section h1 {
    margin: 2.5rem;
    margin-bottom: 1rem;
    font-size: xx-large;
}

.index_section h2 {
    margin: 2rem;
    margin-bottom: 1rem;
}

.index_section b {
    text-align: center;
    font-size:  large;
    margin: 1rem;
    width: 23rem;
}

.index_section p {
    text-align: left;
    font-size: medium;
    margin: 1rem;
    margin-bottom: 2rem;
    width: 21rem;
}

#index_article, #second_index_article, #last_index_article {
    text-align: center;
    margin: 0.5rem;
    width: 75vw;
    height: 50px;
    background-color: rgb(59, 55, 55);
}

#last_index_article {
    margin-bottom: 3rem;
}

#index_article a, #second_index_article a, #last_index_article a{
    color: white;
    text-decoration: none;
}

#index_article:hover, #second_index_article:hover, #last_index_article:hover { 
    opacity: 0.6;
    transition: all 0.25s;
    cursor: pointer;
}

#index_img1 {
    width: 23rem;    
    margin: 0.75rem;
    margin-top: 2rem;
}

.exercise_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    background-color: white;
    text-align: center;
}

.exercise_img {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 20rem;
}

.exercise_section h1 {
    font-size: xx-large;
    margin: 0.5rem;
}

.exercise_section b {
    width: 70vw;
    margin: 0.5rem;
}

.exercise_section p {
    width: 75vw;
    margin: 1rem;
    text-align: left;
}

#last_exercise_text {
    margin-bottom: 3rem;
}

.clubs_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    background-color: white;
    text-align: center;
}

.clubs_section h1 {
    font-size: xx-large;
    margin: 3rem;
    margin-bottom: 1rem;
}

.clubs_section b {
    font-size: large;
    width: 75vw;
    margin: 1rem;
}

.clubs_section p {
    text-align: left;
    width: 75vw;
    margin: 1rem;
    margin-bottom: 2.5rem;
}

.clubs_section li {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    width: 80vw;
    height: 50px;
    background-color: honeydew;
}

#last_club_article {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-bottom: 3rem;
    width: 80vw;
    height: 50px;
    background-color: honeydew;
}

.mapouter {
    position: inherit;
    text-align: right;
    height: 300px;
    width: 350px;
    margin-bottom: 3rem;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 350px;
}

.service_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    background-color: white;
    text-align: left;
}

#service_img1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 20rem;
}

#service_img2, #service_img3, #service_img4, #service_img5, #service_img6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 75vw;
}

.service_section h1 {
    font-size: xx-large;
    margin: 0.5rem;
}

.service_section h3 {
    text-align: left;
    width: 75vw;
}

.service_section b {
    width: 70vw;
    margin: 0.5rem;
    text-align: center;
}

.service_section p {
    width: 75vw;
    margin: 1rem;
    text-align: left;
}

#last_service_text {
    margin-bottom: 3rem;
}

.line {
    display: block; 
    width: 85vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    overflow: hidden; 
    border-style: inset; 
    border-width: 0.1px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 3rem;
}

.footer h2 {
    margin-bottom: 1.5rem;
}

.footer p {
    margin-bottom: 2.5rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 2.5rem;
}

.footer ul p {
    margin-bottom: 1rem;
    text-decoration: underline;
}

@media screen and (min-width: 800px) {

    #burger {
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        background-color: black;
    }

    #background_image {
        background-size: 100%;
    }

    #nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: unset;
        height: 15vh;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 80vw;
        align-items: center;
        list-style: none;
        transition: ease 0.3s;
    }

    #nav-links a{
        color: white;
    }

    #logo_img {
        height: 15vh;
        margin-left: 9rem;
    }

    .welcome_text {
        font-size: xx-large;
        text-shadow: black 2px 2px 3px ;
    }

    .index_section p {
        text-align: center;
        font-size: large;
        width: 40rem;
        margin-bottom: 2rem;
    }

    .index_section b  {
        font-size: large;
        width: 25rem;
    }

    .index_section a p  {
        text-align: left;
    }

    #index_img1 {
        width: 30rem;    
        margin: 1rem;
    }

    #index_article, #second_index_article, #last_index_article {
        width: 50rem;
    }

    #exercise_section2 p {
        text-align: center;
        width: 40rem;
    }

    .exercise_img {
        width: 20rem;
    }
    
    .exercise_section h1 {
        font-size: 2.25rem;
        margin: 0.5rem;
    }

    .exercise_section h3 {
        font-size: 1.5rem;
        margin: 1rem;
        margin-top: 0.5rem;
    }
    
    .exercise_section b {
        width: 50rem;
        margin: 0.5rem;
        font-size: large;
    }
    
    .exercise_section p {
        width: 52rem;
        margin: 1rem;
        text-align: left;
        font-size: 1.1rem;
    }
    
    #last_exercise_text {
        margin-bottom: 4.5rem;
    }

    .clubs_section h1 {
        font-size: 2.25rem;
        margin: 3rem;
        margin-bottom: 1rem;
    }
    
    .clubs_section b {
        width: 40rem;
    }
    
    .clubs_section p {
        width: 45rem;
    }
    
    .clubs_section li {
        margin: 1.5rem;
        width: 60vw;
        height: 55px;
    }
    
    #last_club_article {
        margin: 1.5rem;
        margin-bottom: 3rem;
        width: 60vw;
    }

    .mapouter {
        height: 350px;
        width: 600px;
        margin-bottom: 3.5rem;
    }
    
    .gmap_canvas {
        height: 350px;
        width: 600px;
    }

    #service_section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #service_img1 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 20rem;
    }

    #service_img2, #service_img3, #service_img4, #service_img5, #service_img6 {
        margin-top: 2rem;
        width: 35rem;
    }

    .service_section h1 {
        font-size: 2.25rem;
        margin: 0.5rem;
    }
    
    .service_section h3 {
        text-align: left;
        width: 35rem;
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    
    .service_section b {
        width: 40rem;
        margin: 0.5rem;
        font-size: large;
    }
    
    .service_section p {
        width: 45rem;
    }
    
    #service_section2 p {
        text-align: center;
        width: 40rem;
    }
    
    #last_service_text {
        margin-bottom: 3rem;
    }

    .footer {
        display: grid;
        text-align: center;
        padding: 4.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "f1 f2 f3"
        ;
    }
    
    #footer_grid_area_1 {
        grid-area: f1;
    }
    
    #footer_grid_area_2 {
        grid-area: f2;
    }
    
    #footer_grid_area_3 {
        grid-area: f3;
    }

    .footer h2 {
        margin-bottom: 1.5rem;
    }
    
    .footer p {
        margin-bottom: 2.5rem;
    }
    
    .footer ul {
        list-style: none;
        margin-bottom: 2.5rem;
    }
    
    .footer ul p {
        margin-bottom: 1rem;
        text-decoration: underline;
    }

}